body
{
	padding-top: 100px;
	padding-left: 10px;
	font-family:garamond,serif;
	font-weight: bold;
}

.header
{
	font-weight: bold;
	font-family: "Trebuchet MS",garamond,serif;
}

.img-responsive
{
	padding-top: 10px;
}

hr.style-two
{
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

.verticalLine
{
    border-left: solid #B8B8B8;
    padding-right: 20px;
    padding-left: 20px;
}

#cnfsrStyle
{
	background-color: #FF6600;
	color: #3B1E00;
}